
.footer {
  background: linear-gradient(to bottom right, #EFADA0, #FFDB8A);
  display:flex;
  align-items: center;
  justify-content: center;
  }

  img {
    padding: 1em;
  }

  #footer img:hover {
    fill: #fce57e;
}
