
footer {
    background: linear-gradient(to bottom right, #EFADA0, #FFDB8A);
    color: white;

  }
.footer-ul {
  align-items: center;
  display: inline;
}
  img {
    padding: 1em;
  }

  #footer img:hover {
    fill: #fce57e;
}
