
.footer {

  display:flex;
  align-items: center;
  justify-content: center;
  }

  .footer img {
    padding: 1em;
  }

  #footer img:hover {
    fill: #fce57e;
}

/*background: linear-gradient(to bottom right, #EFADA0, #FFDB8A);*/
