{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [],
  "rules": {
      "indentation": 2,
      "string-quotes": "single",
      "no-duplicate-selectors": true,
      "selector-combinator-space-after": "always",
      "selector-attribute-quotes": "always",
      "function-url-quotes": "always"
  }
}
