@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:100,300,400');

    .CV-body {
      line-height: normal;
      grid-column: 2;
      grid-row: 2;
      font-style: normal;
    }

.subHeader{
  font-family: Roboto;
  color: rgb(38, 50, 90);
  font-size: 1em;
    }

.date{
text-align:right;
}

.positionTitle{
  font-size: 1em;

}

.t {
  font-family: Roboto;
  font-style: normal;
}

.ts {
  font-family: 'Open Sans', sans-serif;
}
li{
 padding-left: 0px;
 margin-left: 0px;
}

