@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:100,300,400');

.CV {
    display: grid;
    grid-template-columns: 25vh auto;
    grid-template-rows: 15vh auto;
    height:150vh;

    }

    .CV-header {
      background-color: #FFDB8A;
      color: rgb(0, 0, 0);
      font-family: Roboto;
      font-size: 1.5em;
      grid-column: 2;
      grid-row: 1
    }
    .CV-body {
      line-height: normal;
      grid-column: 2;
      grid-row: 2;
      font-style: normal;
    }

.t {
  font-family: Roboto;
  font-style: normal;
}

.ts {
  font-family: 'Open Sans', sans-serif;
}
li{
 padding-left: 0px;
 margin-left: 0px;
}
