@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:100,300,400');


    .CV-body {
      line-height: normal;
      font-style: normal;
    }


.date{
text-align:right;
}

.positionTitle{
  font-size: 1em;
  font-family: Roboto;
  color: rgb(38, 50, 90);


}

.t {
  font-family: Roboto;
  font-style: normal;
}

.ts {
  font-family: 'Open Sans', sans-serif;
}
le{
 padding-left: 0px;
 margin-left: 0px;
}

.resume {
  justify-content: center;
  text-align: center;
}
