.Bio {
    display: grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 10em auto;
     align-content: center;
    justify-content: center;
    }

.Bio-header {
  color: rgb(71, 68, 68);
  font-size: medium;
  padding-top: 20px;
  padding-left: 20px;
  grid-column: 2;
  grid-row: 1;
  font-family: 'Roboto', sans-serif;
  justify-self: center;
    }

    .Bio-body {
      font-size: large;
      grid-column: 2;
      grid-row: 2;
      font-weight: 300;
      justify-self: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
    }


    .picbox {
      background-color: rgba(111, 92, 194, 0);
      grid-column: 1;
    }

    .picbox img {
      max-width:200px;
      border-radius: 50%;
      margin-right: 50px;
      margin-top: 40px;
    }

@media (max-width:600px){
  .Bio{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .Bio-header {
    grid-row: 1;
      }

    .Bio-body {
      grid-row: 2
      }

}
