.resume {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: rgb(38, 50, 90);

  width: 600px;

  justify-content: center;
  text-align: left;
  font-size: 14px;
  padding-bottom: 70px;
  padding-left: 50px;
}

.resume-bio {
  padding-bottom: 10px;
}
.resume-text {
  padding-bottom: 20px;
  padding-left: 20px;
}

