
.Proj {
    display: grid;
    padding:  5px;
    padding-bottom: 50px;
    align-content: center;
    justify-content: center;
    }

    .Proj-header {
      color: rgb(82, 82, 82);
      font-size: 30px;
      text-align: center;
      padding-bottom: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      justify-self: center;
    }

    .Proj-body {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      color: rgb(82, 82, 82);
      word-wrap: break-word;
      font-weight: 300;
      justify-self: center;
    }

    .Proj-body img {
      float: left;
      padding-right: 25px;
      justify-self: center;

  }
