.nav li {
    display: inline;
    padding: 2em;
    font-size: 1em;
}

.App {
    width: 100%;
    text-align: center;
    height: 30vh;
  }

.App-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7vh;
    height: auto;
  }

@media (max-width: 600px){
    .App-logo img{
        max-width:50%;
    }

    .nav li {
        display: inline;
        padding: 0.5em;
        font-size: 1em;
    }
}
