.App li {
    display: inline;
    padding: 2em;
    font-size: 20px;
}

.App {
    width: 100%;
    text-align: center;
    height: 30vh;
  }

.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7vh;
    max-width: 100%;
    height: auto;
  }
