.wrapper {
  display: flex;
  background-color: #f5f3ef;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.content {
  height: 100%;
  flex: 1;
  flex-direction: row;
}
