
.wrapper {
    display: grid;
    background-color: #f5f3ef;

    grid-template-rows: 140px 1fr;
    grid-template-columns: 1fr 30px;
    grid-template-areas:
      "header header"
      "content footer";
}

.nav{
    width: max-content;
}

.content{
width: 100%;
min-height: 100vh;
grid-row: 2;
grid-column: 1;
}

.footer{
    flex-shrink: 0;
    grid-row: 2;
    grid-column: 2 ;
}

